<h1>Index</h1>

<% if notice.present? %>
  <%= notice %>
<% end %>

<% if alert.present? %>
  <%= alert %>
<% end %>

<table class="table table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr scope="row">
        <td><%= image_tag product.image, class: 'thumbnail' %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td class="text-center">
          <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-secondary' %>
          <%= link_to 'Delete', product_path(product), data: {confirm: 'Are you sure?', method: :delete}, class: 'btn btn-danger'%>
          <%= link_to 'Fav', set_fav_path(product), method: :patch, class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>New Product</h2>
<%= render 'form' %>
